In [10]:
import pandas as pd


data =pd.read_csv('dataset_1.csv')


data['Population']=data['Population'].str.replace(',', '').astype(int)
data['Density KM2']=data['Density KM2'].str.replace(',', '').astype(int)



#Task 1: Sắp xếp và in ra 10 thành phố có dân số lớn nhất & 10 thành phố có dân số nhỏ nhất
b= data.sort_values(by=('Population'))


max10= b.tail(10)
print(max10[['City', 'Population']])


min10=b.head(10)
print(min10[['City', 'Population']])


#Task 2: In ra tên các quốc gia có tối thiểu 3 thành phố trong danh sách này


dem=data.groupby('Country').size()
dem=dem[dem>2]

print(dem)


#Task 3: In ra Top 5 quốc gia có nhiều thành phố xuất hiện trong bảng này nhất


print(dem.nlargest(n=5))




#Task 4: In ra các thành phố có dân số & diện tích đều nằm trong Top 20


ds20= data['Population'].nlargest(n=20).index
dt20= data['Area KM2'].nlargest(n=20).index
jj=data[data.index.isin(ds20) & data.index.isin(dt20)]

print('câu 4 ---------------------------', jj[['City', 'Population', 'Area KM2']]  )


#Task 5: Thống kê mật độ dân số theo quốc gia

thongkemd = data.groupby('Country')['Density KM2'].mean()
print(thongkemd)

#Task 6: Thống kê các thành phố có dân số lớn nhất của từng quốc gia (chỉ tính của những quốc gia có 2 
# thành phố xuất hiện trở lên trong bảng)

quocgia2=data.groupby('Country').size()
quocgia2=quocgia2[quocgia2>1]

dansolonnhat=data.loc[data.groupby('Country')['Population'].idxmax(), ['Country','City','Population']]
print(dansolonnhat)

            City  Population
59     Çittagong     2582401
52  Quezon şehir     2960048
46       Bandung     3075478
16       Kalküta     4496694
6          Dakka     8906136
71        Kahire     9539673
61          Seul     9962393
69       Cakarta    10560000
32        Bombay    12442373
14        Karaçi    14910352
                     City  Population
73                Senglea        2820
40           Kotsiubynske       17249
12   Le Pré-Saint-Gervais       17950
70                nazikçe       18605
45             Koekelberg       21990
15            Saint-Mande       22619
49              Les Lilas       23045
21        Napoli, Selanik       27084
18  Saint-Josse-ten-Noode       27548
53               Vanveler       27729
Country
 Amerika Birleşik Devletleri *     5
 Belçika *                         5
 Endonezya *                       3
 Filipinler *                     18
 Fransa *                         17
 Hindistan *                       3
 Yunanistan *                      3
 İspanya *                         4
 İsrail *                          3
dtype: int64
Country
 Filipinler *                     18
 Fransa *                         17
 Amerika Birleşik Devletleri *     5
 Belçika *                         5
 İspanya *                         4
dtype: int64
câu 4 ---------------------------                      City  Population  Area KM2
3                Caloocan     1661584        53
5                Katmandu     1442000        49
6                   Dakka     8906136       306
8               Manhattan     1628701        59
14                 Karaçi    14910352       591
16                Kalküta     4496694       185
23                    Şam     1711000        77
30                  Paris     2187526       105
31                  naber     1072161        52
32                 Bombay    12442373       603
46                Bandung     3075478       167
52           Quezon şehir     2960048       166
55  Ciudad Nezahualcóyotl     1110565        63
59              Çittagong     2582401       155
61                   Seul     9962393       605
68              Barselona     1636732       101
69                Cakarta    10560000       662
71                 Kahire     9539673       606
Country
 Amerika Birleşik Devletleri *    20265.600000
 Bangladeş *                      22865.000000
 Belçika *                        19145.200000
 Endonezya *                      16153.333333
 Eritre *                         21400.000000
 Filipinler *                     23730.333333
 Fransa *                         20093.117647
 Güney Kore *                     16461.000000
 Hatay *                          27395.000000
 Hindistan *                      21887.333333
 Japonya *                        17089.000000
 Makao *                          21224.000000
 Maldivler *                      23002.000000
 Malta *                          14100.000000
 Meksika *                        17503.000000
 Monako *                         18292.000000
 Mısır *                          15742.000000
 Nepal *                          29161.000000
 Pakistan *                       25229.000000
 Sri Lanka *                      20351.000000
 Suriye *                         22221.000000
 Ukrayna *                        19826.000000
 Yunanistan *                     21658.666667
 İspanya *                        18675.000000
 İsrail *                         21601.666667
Name: Density KM2, dtype: float64
                           Country                   City  Population
8    Amerika Birleşik Devletleri *              Manhattan     1628701
6                      Bangladeş *                  Dakka     8906136
65                       Belçika *             Schaerbeek      133309
69                     Endonezya *                Cakarta    10560000
25                        Eritre *                 Asmara      963000
52                    Filipinler *           Quezon şehir     2960048
30                        Fransa *                  Paris     2187526
61                    Güney Kore *                   Seul     9962393
9                          Hatay *         Port-au-Prince      987310
32                     Hindistan *                 Bombay    12442373
56                       Japonya *               Suginami      582065
27                         Makao *                  Makao      643100
22                     Maldivler *                  Erkek      133412
73                         Malta *                Senglea        2820
55                       Meksika *  Ciudad Nezahualcóyotl     1110565
48                        Monako *                 Monako       36950
71                         Mısır *                 Kahire     9539673
5                          Nepal *               Katmandu     1442000
14                      Pakistan *                 Karaçi    14910352
34                     Sri Lanka *                Kolombo      752993
23                        Suriye *                    Şam     1711000
40                       Ukrayna *           Kotsiubynske       17249
28                    Yunanistan *              Kallithea      100050
68                       İspanya *              Barselona     1636732
4                         İsrail *               ben fren      212646